{% extends 'domains/detail_base.html' %}
{% block main_content %}
    <div class="ui segment">
        <h2 class="ui header">Settings</h2>
        {% include 'form/errors.html' with form=form %}
        <form class="ui form" method="POST" action="" novalidate>
            {% csrf_token %}
            {% include 'form/field.html' with field=form.include_sub_domains %}
            {% include 'form/field.html' with field=form.destination_ip %}
            {% include 'form/field.html' with field=form.destination_http_port %}
            {% include 'form/field.html' with field=form.destination_https_port %}
            {% include 'form/field.html' with field=form.user %}
            <button class="ui primary button">Save</button>
        </form>
    </div>
{% endblock %}
