{% extends 'app/layout.html' %}

{% block title %}
    <h1 class="ui header">Create image</h1>
{% endblock %}
{% block content %}
{% include 'form/errors.html' with form=form %}
<div class="ui segment">
    <form class="ui form" method="POST" action="" novalidate>
        {% csrf_token %}
        {% include 'form/field.html' with field=form.name %}
        {% include 'form/field.html' with field=form.version %}
        {% include 'form/field.html' with field=form.lxc_template_name %}
        {% include 'form/field.html' with field=form.lxc_template_args %}
        <button class="ui primary button">Create</button>
    </form>
</div>
{% endblock %}