{% extends 'app/layout.html' %}

{% block title %}
    <h1 class="ui header">Manage user {{ object.email }}</h1>
{% endblock %}
{% block content %}
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui fluid vertical tabular menu">
                {% url 'users:detail' pk=object.pk as detail_url %}
                <a class="item {% if request.path == detail_url %}active{% endif %}" href="{{ detail_url }}">Information</a>
                {% url 'users:settings' pk=object.pk as settings_url %}
                <a class="item {% if request.path == settings_url %}active{% endif %}" href="{{ settings_url }}">Settings</a>
                {% url 'users:delete' pk=object.pk as delete_url %}
                <a class="item {% if request.path == delete_url %}active{% endif %}" href="{{ delete_url }}">Delete</a>
                {% url 'users:security' pk=object.pk as security_url %}
                <a class="item {% if request.path == security_url %}active{% endif %}" href="{{ security_url }}">Security</a>
                {% url 'users:resources' pk=object.pk as resources_url %}
                <a class="item {% if request.path == resources_url %}active{% endif %}" href="{{ resources_url }}">Resources</a>
            </div>
        </div>
        <div class="twelve wide column">
            {% block main_content %}{% endblock %}
        </div>
    </div>
{% endblock %}