{% extends 'users/profile_base.html' %}
{% block profile_content %}
<h2 class="ui header">Information</h2>
<div class="ui stackable grid">
    <div class="eight wide column">
        <h4 class="ui header definition">Email</h4>
        <p>{{ object.email }}</p>
        <h4 class="ui header definition">Date joined</h4>
        <p>{{ object.created_at }}</p>
        <h4 class="ui header definition">Last login</h4>
        <p>{{ object.last_login }}</p>
    </div>
    <div class="eight wide column">
        <h4 class="ui header definition">Full name</h4>
        <p>{{ object.first_name }} {{ object.last_name }}</p>
    </div>
</div>
<h2 class="ui header">Edit personal information</h2>
{% for error in form.non_field_errors %}
    <div class="ui error message">
        <p>{{ error }}</p>
    </div>
{% endfor %}
<form class="ui form" method="POST" action="" novalidate>
    {% csrf_token %}
    {% include 'form/field.html' with field=form.first_name %}
    {% include 'form/field.html' with field=form.last_name %}
    {% include 'form/field.html' with field=form.language %}
    <button class="ui primary button">Save</button>
</form>
{% endblock %}