{% extends 'users/base.html' %}
{% block content %}
{% for error in form.non_field_errors %}
    <div class="ui error message">
        <p>{{ error }}</p>
    </div>
{% endfor %}
<form class="ui large form" method="POST" action="" novalidate>
    {% csrf_token %}
    <div class="ui stacked segment">
        {% include 'form/field.html' with field=form.password nolabel=True %}
        {% include 'form/field.html' with field=form.password_repeat nolabel=True %}
        {{ form.token }}
        <button class="ui fluid large teal submit button">Reset password</button>
    </div>
</form>
{% endblock %}
{% block title %}
Reset your password
{% endblock%}